{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>Cleric Domains</h1>
        </div>
        <div class="col-12">
            <ul>
                <li><a href="{{ path('api_domains_get_collection', {_format:'jsonld'}) }}">All Domains</a></li>
                <li>
                    <a href="{{ path('api_domains_get_item', {id:'fire-domain',_format:'jsonld'}) }}">Fire</a>
                    <ul>
                        <li><a href="{{ path('api_domains_get_item', {id:'arson-domain',_format:'jsonld'}) }}">Arson</a></li>
                        <li><a href="{{ path('api_domains_get_item', {id:'ash-domain',_format:'jsonld'}) }}">Ash</a></li>
                        <li><a href="{{ path('api_domains_get_item', {id:'smoke-domain',_format:'jsonld'}) }}">Smoke</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('api_domains_get_item', {id:'air-domain',_format:'jsonld'}) }}">Air</a>
                    <ul>
                        <li><a href="{{ path('api_domains_get_item', {id:'cloud-domain',_format:'jsonld'}) }}">Cloud</a></li>
                        <li><a href="{{ path('api_domains_get_item', {id:'lightning-domain',_format:'jsonld'}) }}">Lightning</a></li>
                        <li><a href="{{ path('api_domains_get_item', {id:'wind-domain',_format:'jsonld'}) }}">Wind</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}